@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&display=swap');
*{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
    
    
    
}
body{
    background-color: rgb(132, 247, 247);
}
form{
    
    width: 350px;
    margin: 50px auto;
    padding: 10px;
    
}
form div{
    margin-top: 15px;
}
label{
    font-weight: bold;
    font-size: 20px;
}
input,select,textarea{
    background-color: rgb(241, 241, 233);
    border: 1px solid rgb(233, 223, 223);
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border-radius: 10px;
}
button{
    background-color: rgb(247, 184, 9) ;
    padding: 7px 25px;
    border: none;
    color: white;
    border-radius: 10px;
    float: right;
    font-size: 16px;
    cursor:pointer;
}
button:hover{
    background-color: blue;
    color: white;
}
h1{
    text-align: center;
    
}
#barsmenu{
    display: none;
}
.hamburger-nav-container{
    font-size: 15px;
    list-style-type: none;
    display: none;
}
.hamburger-nav-container a{
    text-decoration: none;
    background-color: #fcf9f4;
    display: flex;
    color: #1f1e1d;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgb(248, 246, 243);
    
}
.hamburger-nav-container .hamburger-active{
    text-decoration: none;
    background-color: #f1bd67;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgb(248, 246, 243);
    
}
@media only screen and (max-width: 900px) {
    .card-container {
        width: 100%;
      }
    #barsmenu {
        display: block;
    }

    .item-collapse {
        display: none;
    }
}