@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&display=swap');
*{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
nav {
    background-color: rgb(247, 244, 243);
    align-items: center;
    height: 10vh;
    display: flex;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li{
    margin-right: 15px;
    font-size: 15px;
    
}
nav ul li.active{
    color: rgb(255, 145, 0);
}
img{
    margin-left: 20px;
    width: 30px;
    display: flex;
}
.nav-left{
    flex: 50%;
}
.nav-right{
    flex: 50%;
    text-align: end;
    margin-right: 30px;
}
.nav-right a{
    background-color: rgb(13, 163, 233);
    color: antiquewhite;
    padding: 5px 20px;
    border-radius: 10px;
}
 a :hover{
    background-color: blueviolet;
}
